EXPO_ROUTER_APP_ROOT=src/app
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_ENV=development
EXPO_PUBLIC_TERMS_URL=https://www.google.com
EXPO_PUBLIC_PRIVACY_URL=https://www.google.com
EXPO_PUBLIC_STATUS_URL=https://www.google.com
EXPO_PUBLIC_NEARBY_RADIUS_KM=50
EXPO_PUBLIC_MIN_HOURS_AHEAD=5
